
{% if stu %}
    <h2> services list</h2>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--</head>-->

    <body style="background-color:white;">

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>service_name</th>
                    <th>service_date</th>
                    <th>contact</th>
                </tr>
            </thead>
            <tbody>
                {% for st in stu %}
                    <tr>
                        <td>{{st.service_name}}</td>
                        <td>{{st.service_date}}</td>
                        <td><a href="{% url 'contact' %}" >contact me</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>service_name</th>
                    <th>service_date</th>
                </tr>
            </thead>
        </table>
        <b> no data to display </b>
    </div>
{% endif %}

